<nav>
  <ul class="pagination">
    <li [appClass]="{disabled: currentPage === 0}" class="page-item">
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>

    <!-- <ng-container *ngFor="let image of images; let i = index;"> -->
    <ng-container *appTimes="images.length;let i = index;">
      <li class="page-item" *ngIf="checkWindowIndex(i)" [appClass]="{active: i === currentPage}">
        <a (click)="currentPage = i" class="page-link">{{i + 1}}</a>
      </li>
    </ng-container>

    <li [appClass]="{disabled: currentPage === images.length - 1}" class="page-item">
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<!-- for ngClass or "'active'" or "['active', '']" -->
<!-- we cannot have more than one structural directive on one element -->
<!-- ng-container is used to add some logic to our element without occuping space in HTML
for eg in line 7 without ng-container we would need div to add for loop logic.-->

<!-- at line 31 used: appClass [bgColor]="'red'" for custom directive -->
<div>
  <h4>
    {{images[currentPage].title}}</h4>
  <img [src]="images[currentPage].url" />
</div>

<!-- SWITCH -->
<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    Current page is zero
  </div>
  <div *ngSwitchCase="1">
    Current page is one
  </div>
  <div *ngSwitchCase="2">
    Current page is two
  </div>
  <div *ngSwitchDefault>
    Unknown Page
  </div>
</div>

<!-- CUSTOM DIRECTIVE STRUCTURAL-->
<ul *appTimes="5">
  <li>Hi there</li>
</ul>